.signin-container {
  position: relative;
  height: 100%;
}
.input-wrapper {
  align-items: center;
  gap: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
}

.input-wrapper > div {
  width: 300px;
  text-align: center;
}

.input-wrapper > div input {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.input-wrapper .email-wrapper {
  display: flex;
  justify-content: space-around;
}

.input-wrapper .signin-btn {
  width: 100%;
  height: 30px;
  background-color: #4eabd2;
  border: none;
  border-radius: 5px;
}
.signin-container button {
  color: aliceblue;
}
